<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between items-center">
      <div class="hidden md:flex space-x-6">
        <%= link_to('SafePass', root_path, class: "text-gray-700 hover:text-indigo-600 transition") %>
        <%= link_to('About', about_path, class: "text-gray-700 hover:text-indigo-600 transition") %>
      </div>

      <div class="hidden md:flex space-x-4">
        <a href="#" class="text-gray-700 hover:text-indigo-600"> Login </a>
        <a
          href="#"
          class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition"
        >
          Sign up
        </a>
      </div>
    </div>
  </div>
</nav>
